CLERK_SECRET_KEY=sk_test_6ErRhO7LcgtxbgMPeowqZBg01qx5iWpPx5JNPUSBOQ
CLERK_PUBLISHABLE_KEY=pk_test_Y3VycmVudC1yYXktOTEuY2xlcmsuYWNjb3VudHMuZGV2JA
MONGODB_URL=mongodb+srv://naminaravisha03:CCG5NvdxpSu09yOO@cluster0.f0d8uqx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=3001
NODE_ENV=development
